/* CSS cho phần tử khi chưa hiển thị */
.fade-up {
    opacity: 0;
    transform: translateY(30px); /* Dịch chuyển lên 30px */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }
  
  /* CSS cho phần tử khi đã xuất hiện */
  .fade-up.visible {
    opacity: 1;
    transform: translateY(0);
  }
  .slider-container {
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
  }
  
  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .slide.active {
    opacity: 1;
  }
  .parallax-item{
    width: 100vw;
    height: 550px;
  }